@layer components {
  .ui-footer {
    @apply relative bg-light-grey font-sans antialiased;

    &-social {
      color: var(--color-cool-black);

      .ui-footer-social:hover {
        #ui-footer-icon-linkedin {
          color: var(--icon-color-linkedin);
        }

        #ui-footer-icon-github {
          color: var(--icon-color-github);
        }

        #ui-footer-icon-glassdoor {
          color: var(--icon-color-glassdoor);
        }
      }
    }

    &-content {
      @apply max-w-screen-xl py-24 lg:py-32 mx-auto;
      @apply grid grid-cols-1;
      @apply px-24 md:px-32 lg:px-32 xl:px-64;
    }
  }
}
